.grid {
  max-width: 900px;
  margin: 0 auto;
/*   display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */

  display: grid;
  grid-template-columns: repeat(6, 128px);
  grid-template-rows: repeat(6, 128px);
  grid-gap: .5em;
}